<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wonjjong.mybatisExample.hello.member.mapper.MemberMapper">
    <select id="selectTotalMemberList" resultType="MemberInfoVO">
        SELECT
           EMP_NO
            , BIRTH_DATE
            , FIRST_NAME
            , LAST_NAME
            , GENDER
            , HIRE_DATE
            , FULL_NAME
        FROM
            EMPLOYEES
        LIMIT 10;
    </select>

    <select id="findMemberByName" parameterType="String" resultType="MemberInfoVO">
        SELECT
            EMP_NO
            , BIRTH_DATE
            , FIRST_NAME
            , LAST_NAME
            , GENDER
            , HIRE_DATE
            , FULL_NAME
        FROM
            EMPLOYEES
        WHERE
            FULL_NAME = #{param1}
    </select>

    <select id="findMemberById" resultType="MemberInfoVO">
        SELECT
            EMP_NO
             , BIRTH_DATE
             , FIRST_NAME
             , LAST_NAME
             , GENDER
             , HIRE_DATE
             , FULL_NAME
        FROM
            EMPLOYEES
        WHERE
            EMP_NO = #{param1}
    </select>
    <select id="getMemberListTotCnt" resultType="int">
            SELECT
                COUNT(1)
            FROM
                EMPLOYEES
    </select>
</mapper>
